<h1 class="display-4 text-primary">Cards#show</h1>
<p> <%= @card.title %>の読書データ</p>
<table class ="table">
 <tr><th width="200">Id</th>
   <td><% =@card.id %></td></tr>
 <th>ID</th><th>
   <td><% =@card.id %></td></tr>

<table class="table">
 <tr>
  <th>ID</th><th>題名</th>
   <th>著者</th><th colspan="2"></th>
 </tr>